* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
.backgroundcolor {
  background-color: #e0e9f5;
}

.loaderanimation {
  color: red;
  /* background-image: linear-gradient(#e66465, #9198e5); */
}
